[Desktop Entry]
Comment=finger print scanner app
Terminal=false
Keywords=pyf
Name=pyfinger
Exec=/home/$USER/pythonFingers/0fingerscanner.py
Type=Application
Icon=/home/$USER/pythonFingers/fingerprint.jpeg
StartupNotify=false
